.circle-container11, .circle-container1, .circle-container2, .circle-container3 {
    /* border: 1px solid black; */
    width: 130px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 10px; /* Adjust spacing as needed */
}

.circle-container11 {
    transform: translate(220%, 0%);
}

.circle-container1 {
    transform: translate(70%, 140%);
}

.circle-container2 {
    transform: translate(-190%, 75%);
}

.circle-container3 {
    transform: translate(-90%, 70%);
}

.circle-container img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.circle-container p {
    margin: 0;
    font-size: 1rem; /* Adjust size as needed */
}

.circle-container span {
    display: block;
    font-size: 0.8rem; /* Adjust size as needed */
}

/* Media Query for Mobile Screens */
@media (max-width: 767px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-md-2 {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem; /* Adjust spacing as needed */
    }

    .circle-container11, .circle-container1, .circle-container2, .circle-container3 {
        transform: translate(0, 0);
        width: 90px; /* Adjust size as needed */
        height: 90px; /* Adjust size as needed */
    }

    .circle-container img {
        max-width: 60%; /* Adjust size as needed */
    }

    .circle-container p {
        font-size: 0.8rem; /* Adjust size as needed */
    }

    .circle-container span {
        font-size: 0.6rem; /* Adjust size as needed */
    }
}
